/* .hidden {
    display: none
} */

.spots-lists{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin: auto; */
    padding: 10px;
    font-family: 'Circular','BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 14px;
    /* display: grid; */
    /* grid-auto-flow: row dense; */
}
